In [1]:
def calculate_ema(data, window):
    #declaring empty ema list
    ema = []
    alpha = 2 / (window + 1)  # Smoothing factor
    #EMA value is the first data point
    ema.append(data[0])  
    #loop that iterates over the indices of the data index
    for i in range(1, len(data)):
        #Formula for EMA
        ema_value = data[i] * alpha + ema[i - 1] * (1 - alpha) 
        ema.append(ema_value)
    return ema

In [2]:
data = [x for x in range(1,11)]
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
window = 3
sma = calculate_ema(data, window)
print(sma)

[1, 1.5, 2.25, 3.125, 4.0625, 5.03125, 6.015625, 7.0078125, 8.00390625, 9.001953125]

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame({'data': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [7]:
df['EMA'] = df['data'].ewm(span=3, adjust=False).mean()

In [8]:
df

   data       EMA
0     1  1.000000
1     2  1.500000
2     3  2.250000
3     4  3.125000
4     5  4.062500
5     6  5.031250
6     7  6.015625
7     8  7.007812
8     9  8.003906
9    10  9.001953