In [4]:
def calculate_sma(data, window):
    #empty list
    sma = []
    #loop that iterates over the indices of the data index
    for i in range(len(data)):
        # If there are not enough data points, we will store None
        if i < window - 1:
            sma.append(None)  
        else:
            #formula for Simple Moving Average 
            sma.append(sum(data[i - window + 1: i + 1]) / window)  
    return sma

In [5]:
data = [x for x in range(1,11)]
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
window = 3
sma = calculate_sma(data, window)
print(sma)

[None, None, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [7]:
import pandas as pd

In [14]:
df = pd.DataFrame({'data': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [13]:
df['SMA'] = df.data.rolling(3).mean()
df

   data  SMA
0     1  NaN
1     2  NaN
2     3  2.0
3     4  3.0
4     5  4.0
5     6  5.0
6     7  6.0
7     8  7.0
8     9  8.0
9    10  9.0